    body {
        width: 1920px;
        height: 1080px;
        margin: 0;
        position: relative;
        /* Needed for absolute positioning inside */
    }

    svg {
        position: absolute;
        width: 960px;
        /* Half of 1920px */
        height: 540px;
        /* Half of 1080px */
    }

    #svg1 {
        top: 0;
        left: 0;
    }

    #svg2 {
        top: 0;
        left: 960px;
    }

    #svg3 {
        top: 540px;
        left: 0;
    }

    #svg4 {
        top: 540px;
        left: 960px;
    }

    .stock_quote {
        stroke: steelblue;
        fill: none;
        stroke-width: 1.5;
    }

    .stock_gain {
        opacity: 0.5;
    }