body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Defines two columns of equal width */
    grid-template-rows: 1fr 1fr;
    /* Defines two rows of equal height */
    height: 100vh;
    /* Full height of the viewport */
    margin: 0;
}

svg {
    width: 100%;
    /* Full width of the grid cell */
    height: 100%;
    /* Full height of the grid cell */
}

.stock_quote {
    stroke: steelblue;
    stroke-opacity: 1;
    stroke-width: 2;
    fill: steelblue;
    fill-opacity: 0.5;
}

.stock_gain {
    opacity: 0.5;
}

.axis_label {
    font-size: 20px;
    fill: black;
}

.axis {
    stroke-width: 2px;
}